
body{
  text-align: center;
  background-image: url("../images/landing.jpg");
  background-position: center;
  opacity: 80%;
}

.mapboxgl-canvas{
  position: relative !important;
}

.landing{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn{
  height: 150px;
  width: 100%;
  font-size: 50px !important;
}

.btnContainer{
  margin-top: 30px;
}
