/*
* === GENERAL ===
*/

body{
  text-align: center;
  background-image: url("../images/landing.jpg");
  background-position: center;
}

.container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mapboxgl-canvas{
  position: relative !important;
}

.btn{
  height: 150px;
  width: 100%;
  font-size: 50px !important;
}

.btnContainer{
  margin-top: 30px;
}

/*
* === LANDING ===
*/

/*
* === RESULTS ===
*/

/*
* === EVENT SHOW ===
*/
